<div class="container-fluid px-5 py-2">
    <nav class="navbar navbar-expand-sm">
        <div class="navbar-brand">ListO'Chef</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fxs-3" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']"><strong>HOME</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aboutus']"><strong>ABOUT US</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>DESTINATIONS </strong>
                    </a>
                    <ul class="dropdown-menu fxs-3">
                        <li><a class="dropdown-item" href="#"><strong>FAMOUS PLACES</strong></a></li>
                        <li><a class="dropdown-item" href="#"><strong>TRAVEL TIPS</strong></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><strong>BLOG</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <strong>PROFILE </strong>
                    </a>
                    <ul class="dropdown-menu fxs-3">
                        <li *ngIf="!isAuthenticated">
                            <a class="dropdown-item" itemPointer [routerLink]="['/auth']">
                                <strong>LOG IN</strong>
                            </a>
                        </li>
                        <li *ngIf="isAuthenticated">
                            <a class="dropdown-item" itemPointer [routerLink]="['/recipes/myrecipes']"><strong>MY
                                    RECIPES</strong></a>
                        </li>
                        <li *ngIf="isAuthenticated">
                            <a class="dropdown-item" itemPointer [routerLink]="['/user']">
                                <strong>ACCOUNT</strong>
                            </a>
                        </li>
                        <li *ngIf="isAuthenticated">
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngIf="isAuthenticated">
                            <a class="dropdown-item" itemPointer (click)="onLogout()">
                                <strong>LOG OUT</strong>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>