<div class="d-flex flex-column flex-sm-row h-100">
    <div class="position-relative d-none d-sm-flex flex-fill bg-dark h-100">
        <img src="assets/img_1.jpg" class="object-fit-fill h-100 w-100">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Card title</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1">
                This is a wider card with supporting text below
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
    <div class="position-relative flex-fill bg-dark h-100 mx-3">
        <img src="assets/img_2.jpg" class="object-fit-fill h-100 w-100">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute top-0 z-0 inner-bodder-box"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Card title</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1">
                This is a wider card with supporting text below
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
    <div class="position-relative d-none d-sm-flex flex-fill bg-dark h-100">
        <img src="assets/img_3.jpg" class="object-fit-fill h-100 w-100">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Card title</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1">
                This is a wider card with supporting text below
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
</div>