<div class="d-flex flex-column flex-sm-row h-100 justify-content-center overflow-scroll user-select-none">
    <div class="banner-image position-relative d-none d-md-flex bg-dark h-100">
        <img src="assets/img_8.jpg" class="object-fit-cover h-100 w-100" [@fadeAnimation]="animationState">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Delicious</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1 h6">
                Indulge in our mouthwatering dishes packed with flavor and goodness!
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
    <div class="banner-image position-relative d-flex bg-dark h-100 mx-3">
        <img src="assets/img_2.jpg" class="object-fit-cover h-100 w-100" [@fadeAnimation]="animationState">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute top-0 z-0 inner-bodder-box"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Savor the Flavors</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1 h6">
                Experience a culinary journey with our diverse range of dishes, crafted with passion and expertise.
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
    <div class="banner-image position-relative d-none d-md-flex bg-dark h-100">
        <img src="assets/img_6.jpg" class="object-fit-cover h-100 w-100" [@fadeAnimation]="animationState">
        <div class="position-absolute top-0 z-1 shadow-inner h-100 w-100"></div>
        <div class="position-absolute bottom-0 start-50 translate-middle-x z-2 
                mx-auto text-light h5 text-center banner-image-text-overlay">
            <span class="position-absolute top-0 translate-middle text-gold-tint text-uppercase pb-5">
                <h6 class="card-title h6">Unforgettable</h6>
            </span>
            <p class="card-text overflow-hidden mt-2 mb-1 h6">
                Treat yourself to an unforgettable meal with our exquisite dishes, prepared to perfection.
            </p>
            <span class="fxs-2">MAY 5, 2023 () 0</span>
        </div>
    </div>
</div>