<ng-template appPlaceholder></ng-template>

<div class="container-fluid px-0 mt-3">
    <app-recipe-floater></app-recipe-floater>
</div>

<div class="container-fluid my-3 py-5">
    <div class="container mx-auto w-75 p-4 rounded-1 shadow position-relative">
        <div *ngIf="isLoading" class="text-center position-absolute top-50 start-50 translate-middle">
            <loading-spinner></loading-spinner>
        </div>
        <h3 class="text-center text-uppercase">create new recipe</h3>
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" [@recipe-edit]="">
            <div class="form-group d-flex flex-sm-row flex-wrap p-2">
                <label class="form-label d-flex mx-1 fxs-3" for="name">Name : - </label>
                <input class="form-control shadow-none d-flex flex-fill mx-1 fxs-3" type="text" name="name"
                    id="name" formControlName="name" autocomplete="name">
            </div>
            <div class="form-group d-flex flex-sm-row flex-wrap p-2">
                <label class="form-label d-flex mx-1 fxs-3" for="desc">Description : - </label>
                <textarea class="form-control shadow-none form-control-sm d-flex flex-fill mx-1 fxs-3" type="text"
                    name="desc" id="desc" formControlName="desc" rows="2" maxlength="70"></textarea>
            </div>
            <div class="form-group d-flex flex-sm-row flex-wrap p-2">
                <label class="form-label d-flex mx-1 fxs-3" for="steps">Ingredients/Steps : - </label>
                <textarea class="form-control shadow-none form-control-lg d-flex flex-fill mx-1 fxs-3" type="text"
                    name="steps" id="steps" formControlName="steps" rows="10"></textarea>
            </div>
            <div class="d-flex flex-sm-row flex-wrap p-2">
                <div class="form-group d-flex flex-sm-row flex-wrap flex-fill p-2">
                    <label class="form-label d-flex mx-1 fxs-3" for="level">Level : - </label>
                    <select class="form-control shadow-none d-flex flex-fill mx-1 fxs-3 text-center" name="level"
                        id="level" formControlName="level">
                        <option selected value="select">--select--</option>
                        <option value="easy">Easy</option>
                        <option value="average">Average</option>
                        <option value="difficult">Difficult</option>
                        <option value="extreme">Extreme</option>
                    </select>
                </div>
                <div class="form-group d-flex flex-sm-row flex-wrap flex-fill p-2">
                    <label class="form-label d-flex mx-1 fxs-3" for="duration">Time (in minutes) : - </label>
                    <input class="form-control d-flex flex-fill mx-1 fxs-3 text-center" type="time" name="duration"
                        id="duration" formControlName="duration">
                </div>
            </div>
            <div class="form-group p-2">
                <label class="form-text text-center w-100 mb-3" for="images">Images</label>
                <div class="d-flex flex-sm-row flex-wrap justify-content-evenly">
                    <div class="d-flex flex-column item-cards-preview fit position-relative"
                        *ngFor="let inputFile of previewFiles; let i = index;">
                        <img [src]="inputFile.src" class="img-fluid object-fit-cover h-75" alt="...">
                        <span class="badge position-absolute top-0 end-0 z-10 bg-danger cursor-pointer"
                            (click)="onImageRemove(i)">X</span>
                        <small class="fxs-2 text-center">
                            {{inputFile.width}}x{{inputFile.height}} | {{inputFile.size / 1024 | number : '1.0-0'}} KB
                        </small>
                    </div>
                </div>
                <input class="form-control form-control-sm d-flex mx-auto mt-2 w-50" type="file" multiple
                    accept="image/*" (change)="onSelectFile($event)" [disabled]="isLoading" name="images" id="images">
            </div>
            <div class="form-group d-flex flex-sm-row flex-wrap p-2 mt-3">
                <button type="button" class="d-flex btn btn-dark" (click)="onCancel()">Back</button>
                <button type="submit" class="d-flex btn btn-primary" [disabled]="!recipeForm.valid">Save</button>
            </div>
        </form>
    </div>
</div>