<div class="container">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" [@recipe-edit]="">
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" formControlName="name">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="imagePath">Image Path</label>
                    <input type="text" name="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <img [src]="imagePath.value" class="img-thumbnail">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea name="decd" id="desc" rows="6" class="form-control" formControlName="desc">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" formArrayName="ingredientsArray">
                <div class="row" *ngFor="let ingForm of getRecipeIngControls; let i = index" [formGroupName]="i"
                    style="margin-top: 10px;">
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" formControlName="amount">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-danger" type="button" (click)="onDeleteIng(i)" >X</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" (click)="onAddIng()" type="button">
                    Add Ingredient
                </button>
            </div>
        </div>
    </form>
</div>