<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./styles.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container-lg">

        <div class="container-fluid">
            <nav class="navbar navbar-expand-sm">
                <div class="navbar-brand">ListO'Chef</div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT US</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                DESTINATIONS
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">TRAVEL TIPS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container-flud">

            <div class="container-fluid vh-60">
                <div class="d-flex flex-column flex-sm-row h-100 px-1">
                    <div class="flex-fill bg-primary h-100 mx-2">A</div>
                    <div class="flex-fill bg-success h-100 mx-2">B</div>
                    <div class="flex-fill bg-warning h-100 mx-2">C</div>
                </div>
            </div>

            <div class="container-fluid px-0 pt-5">
                <div class="d-flex flex-sm-row h-100 justify-content-center overflow-x-scroll">
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-primary mx-1"> </div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-success mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-warning mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-primary mx-1"> </div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-success mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-warning mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-primary mx-1"> </div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-success mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                    <div class="mx-2">
                        <div class="d-flex home-item-icons border-black border-5 rounded-circle bg-warning mx-1"></div>
                        <div class="text-center text-uppercase fxs-3">test</div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="d-flex flex-sm-row flex-wrap mt-5 p-1 justify-content-center">
                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>

                    <div class="d-flex item-cards border-black card text-bg-light m-4 mx-2 position-relative">
                        <img src="..." class="card-img object-fit-cover h-100" alt="...">
                        <div class="card-img-overlay mx-auto position-absolute top-50 bg-white 
                            text-center item-cards-text-overlay pt-3">
                            <span class="badge position-absolute top-0 translate-middle text-bg-danger">
                                <h7 class="card-title">Card title</h7>
                            </span>
                            <p class="card-text fxs-3 overflow-hidden">
                                This is a wider card with supporting text below
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid bg-secondary">
            <footer class="d-flex flex-sm-row flex-wrap justify-content-evenly py-5">
                <div class="footer-text-block my-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo provident ducimus odio, libero
                    minus aspernatur saepe. Fuga, autem distinctio. Distinctio!
                </div>
                <div class="footer-text-block my-2">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo provident ducimus odio, libero
                    minus aspernatur saepe. Fuga, autem distinctio. Distinctio!
                </div>
            </footer>
        </div>

    </div>

</body>

</html>