 * {
     border: 1px solid black;
 }

 .home-item-icons {
     min-width: 100px !important;
     min-height: 100px !important;
     max-width: 100px !important;
     max-height: 100px !important;
 }

 .vh-20 {
     height: 20vh;
 }

 .vh-50 {
     height: 50vh;
 }

 .vh-60 {
     height: 60vh;
 }

 .vh-75 {
     height: 75vh;
 }

 .fxs-1 {
    font-size: xx-small;
 }

 .fxs-2 {
    font-size: x-small;
 }

 .fxs-3 {
    font-size: small;
 }

 .item-cards {
    min-width: 225px !important;
    min-height: 250px !important;
    max-width: 225px !important;
    max-height: 250px !important;
}