<div class="container-fluid px-0 mt-3">
    <app-recipe-floater></app-recipe-floater>
</div>

<div class="container-fluid my-3 py-5" *ngIf="recipeDetails; else noRecipeDetailsFound" [@recipe-detail]="animationState">
    <div class="container p-2 w-75">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" *ngFor="let image of recipeDetails.images; let i = index;"
              attr.data-bs-slide-to="{{i}}" [ngClass]="{'active': (i === 0)}" aria-current="true" aria-label="Slide 1"></button>
            </div>
            <div class="carousel-inner vh-65">
              <div class="carousel-item h-100 w-100" *ngFor="let image of recipeDetails.images; let i = index;"
                [ngClass]="{'active': (i === 0)}">
                <img [src]="image.src" class="mx-auto d-block object-fit-contain" alt="...">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <small>{{image.width}}x{{image.height}}</small>
                  </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container mt-3">
        <h4>{{recipeDetails.name}}</h4>
        <p>{{recipeDetails.steps}}</p>
        <small>{{recipeDetails.description}}</small>
        <div class="d-flex flex-wrap justify-content-start my-5">
            <div class="d-flex w-50">
                <div class="d-flex flex-column w-50">
                    <span>{{recipeDetails.level == 1 ? 'Easy' : 'Hard'}}</span>
                    <small>Level</small>
                </div>
                <div class="d-flex flex-column w-50">
                    <span>{{recipeDetails.duration || 'N/A'}}</span>
                    <small>Minutes</small>
                </div>
            </div>
            <div class="d-flex w-50 justify-content-end justify-content-sm-start">
                <button class="d-flex btn btn-danger">
                  Like &nbsp; <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 512 512"><style>svg{fill:#ffffff}</style><path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"/></svg>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #noRecipeDetailsFound >
    <h3 class="text-center my-3 py-5">Recipe Details Not Found</h3>
</ng-template>