<div class="d-flex flex-sm-row h-100 justify-content-md-left overflow-x-scroll user-select-none">
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_3.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Delicious</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_10.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Mouthwatering</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_4.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Savory</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_16.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Delectable</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_11.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Flavorful</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_13.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Heavenly</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_12.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Yummy</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_14.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Irresistible</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-secondary mx-1">
            <img src="assets/img_f_15.jpg" class="rounded-circle  object-fit-fill w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">Tantalizing</div>
    </div>
</div>