<div class="d-flex flex-sm-row h-100 justify-content-md-center overflow-x-scroll">
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-primary mx-1">
            <img src="https://picsum.photos/seed/one1/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-success mx-1">
            <img src="https://picsum.photos/seed/one2/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-warning mx-1">
            <img src="https://picsum.photos/seed/one3/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-primary mx-1">
            <img src="https://picsum.photos/seed/one4/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-success mx-1">
            <img src="https://picsum.photos/seed/one5/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-warning mx-1">
            <img src="https://picsum.photos/seed/one6/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-primary mx-1">
            <img src="https://picsum.photos/seed/one7/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-success mx-1">
            <img src="https://picsum.photos/seed/one8/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
    <div class="mx-2">
        <div class="d-flex home-item-icons border border-black border-5 rounded-circle bg-warning mx-1">
            <img src="https://picsum.photos/seed/one9/200/200" class="rounded-circle  object-fit-fill h-100 w-100">
        </div>
        <div class="text-center text-uppercase pt-3 pb-2 fxs-3">test</div>
    </div>
</div>