<div class="container-fluid my-2 py-2 w-100">
    <div class="container about-us-cover text-center w-100 overflow-hidden user-select-none">
        <img src="https://picsum.photos/seed/13/800/200" class="object-fit-cover h-100 w-100"
            [@fadeAnimation]="animationState" alt="Header Image">
    </div>
    <div class="container py-5 text-left">
        <h3><strong>About us</strong></h3>
        <small class="py-2 text-secondary">Welcome to our recipes website!</small>
        <p class="pt-2">
            We are dedicated to providing you with a wide range of delicious
            and easy-to-follow recipes for all occasions. Whether you're a seasoned chef or just starting
            out in the kitchen, our collection of recipes is designed to inspire and help you create
            mouthwatering dishes.
            <br><br>
            Our team of culinary experts carefully curates each recipe, ensuring that they are not only
            tasty but also practical and achievable for home cooks of all skill levels. From appetizers and
            main courses to desserts and drinks, we have a diverse selection of recipes to suit every palate
            and dietary preference.
        </p>
        <p class="py-1">
            At our recipes website, we understand the importance of using high-quality ingredients and
            cooking techniques that bring out the best flavors in every dish. That's why we provide detailed
            instructions, helpful tips, and step-by-step photos to guide you through the cooking process.
            <br>
            Whether you're looking for quick and easy weeknight meals, impressive dishes to impress your
            guests, or special recipes for holidays and celebrations, our website is your go-to resource.
            Explore our extensive recipe collection, bookmark your favorites, and embark on a culinary
            adventure with us.
            <br><br>
            We are committed to continuously updating and expanding our recipe database, so you can always
            find something new and exciting to try. Join our community of food enthusiasts, share your own
            culinary creations, and connect with fellow food lovers.
            <br>
        </p>

        <h6 class="text-secondary">
            Thank you for choosing our recipes website as your trusted source for delicious recipes.
            <br><br>
            <strong class="text-dark">
                We hope you enjoy cooking and exploring the world of flavors with us.
            </strong>
        </h6>
        <h5 class="text-center py-5">
            <strong>Happy cooking!</strong>
        </h5>
    </div>
</div>