<div class="container-fluid px-0 pt-3 mt-3 mb-4">
    <app-recipe-floater></app-recipe-floater>
</div>

<div class="container-fluid">
    <h5 class="text-center mt-3"><strong>My Recipes</strong></h5>
    <div class="d-flex flex-sm-row flex-wrap mt-2 p-1 justify-content-center">
        <h3 *ngIf="!recipes || !recipes.length" class="mt-2">No recipies yet!</h3>
        <app-recipe-item *ngFor="let recipe of recipes;" [recipe]="recipe" [editable]="true">
        </app-recipe-item>
    </div>
    <div class="container mt-3">
        <h3>Want to add a new recipe?</h3>
        <button class="btn btn-dark" (click)="onAddRecipe()">Add Recipe</button>
    </div>
</div>