<ng-template appPlaceholder ></ng-template>
<div class="row pt-5">
    <div class="col-sm-12 col-md-6 offset-md-3">
        <div *ngIf="isLoading" style="text-align:center">
            <loading-spinner></loading-spinner>
        </div>
        <div class="alert alert-danger" style="text-align:center" *ngIf="!isVerified">
            <p>Please Verify your Email</p>
            <button [disabled]="buttonTimer > 0" class="btn btn-primary" (click)="onSendEmail()">
                Send Verification Email {{buttonTimer? buttonTimer+'sec':'Now'}}
            </button>
        </div>
        <div >
            <h3>Welcome to your Profile</h3>
            <img *ngIf="user.profileImage" src="{{user.profileImage}}" alt="User Profile Image" class="avatar">
            <h4 *ngIf="user.displayName">Username : {{ user ? user.displayName || user.email : 'user'}}</h4>
            <h4>Email : {{  user.email }}</h4>
        </div>
    </div>
</div>