<form class="container-fluid my-3 py-5 w-75">
    <div *ngIf="isLoading" class="py-5 my-5 text-center">
        <loading-spinner></loading-spinner>
    </div>
    <div *ngIf="!isLoading && !editMode" class="container w-100 text-center">
        <img src="{{user.profileImage}}" class="mx-auto profile-picture rounded-circle img-fluid object-fit-center">
    </div>
    <div *ngIf="!isLoading && editMode" class="container100 text-center position-relative">
        <img src="{{user.profileImage}}" class="profile-picture rounded-circle img-fluid object-fit-center">
        <input type="file" class="position-absolute top-50 start-50 translate-middle bg-primary h-100 w-50 d-flex 
            profile-picture rounded-circle form-control-sm opacity-0 cursor-pointer" placeholder="Name">
    </div>
    <div *ngIf="!isLoading" class="container py-4 flex-sm-row text-center">
        <h3 *ngIf="!editMode"><strong>{{ user ? user.displayName || user.email : 'user'}}</strong></h3>
        <input *ngIf="editMode" type="text" class="d-flex mx-auto form-control-lg w-50 text-center" placeholder="Name">
        <small class="py-2">{{  user.email }}</small>
        <p *ngIf="!editMode" class="py-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iusto amet unde.
        </p>
        <textarea *ngIf="editMode" class="my-3 p-2 w-100 text-center" rows="2" placeholder="About me"></textarea>
        <h6>Recipes shared : <strong>21</strong></h6>
        <h6>Favourites : <strong>21</strong></h6>
        <div class="d-flex flex-sm-row flex-wrap justify-content-center py-2">
            <input type="button" value="{{ editMode? 'Cancel' : 'Edit' }}" (click)="onSwitchMode()" class="m-1 btn btn-secondary">
            <input type="button" value="Save" class="m-1 btn btn-dark">
        </div>
        <div class="alert alert-secondary mt-3 text-center" *ngIf="!isVerified">
            <p>Please Verify your Email</p>
            <button [disabled]="buttonTimer > 0" class="btn btn-dark" (click)="onSendEmail()">
                Send Verification Email {{buttonTimer? buttonTimer+'sec':'Now'}}
            </button>
        </div>
    </div>
</form>