<h5 *ngIf="recipes && recipes.length" class="mt-4 p-2 text-center">Unleash Your Inner Chef with Our Flavorful Recipes!</h5>
<div class="d-flex flex-sm-row flex-wrap mt-2 p-1 justify-content-center">
    <h3 *ngIf="!recipes || !recipes.length" class="mt-2">No recipies found, Please add some!</h3>
    <app-recipe-item *ngFor="let recipe of recipes;" [recipe]="recipe">
    </app-recipe-item>
</div>
<div class="container mt-3">
    <h3>Want to add a new recipe?</h3>
    <button class="btn btn-dark" (click)="onAddRecipe()">Add Recipe</button>
</div>